div.document {
	min-width: 65%;
	max-width: 80%;
}

body {
	font-size: 18px;
}

div.body {
	min-width: 850px;
	max-width: 1400px;
}

div.highlight {
	font-size: smaller;
}

div.highlight pre {
	padding: 7px 10px;
}

dl.method {
	margin: 20px 0px;
}
